@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('/assets/introrustg-base2line-webfont.eot');
    src: url('/assets/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/introrustg-base2line-webfont.woff2') format('woff2'),
         url('/assets/introrustg-base2line-webfont.woff') format('woff'),
         url('/assets/introrustg-base2line-webfont.ttf') format('truetype'),
         url('/assets/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line') format('svg');
    font-weight: normal;
    font-style: normal;

}
