// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-container{
  width: auto;
  margin: 4rem auto;
}
.board {
  width: 90%;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 20px -18px #aaa;
  transition: all 150ms ease;
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .square {
    flex: 1 0 auto;
    font-size: 2.5rem;
    padding: .5rem 1.25rem;
    user-select: none;
    }
}

.board:hover{
  transform: translate3d(0,.2em,0);
  box-shadow: 0px 10px 20px -12px #aaa;
}

.row:nth-child(odd) .square:nth-child(even), .row:nth-child(even) .square:nth-child(odd) {
 background-color: salmon;
}

.row:nth-child(even) .square:nth-child(even), .row:nth-child(odd) .square:nth-child(odd) {
 background-color: skyblue;
}
