@import "bootstrap-sprockets";
@import "bootstrap";

.flex-container {
	display: flex;
	flex-flow: row-wrap;
	justify-content: center;
	align-items-: center;
}

.image {
	-webkit-transform: scale(0.5);
}

